services:
  intellect-debug:
    build:
      context: .
      dockerfile: debug.dockerfile
    container_name: intellect-kpi-debug
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=3000
      - HOSTNAME=0.0.0.0
    restart: unless-stopped
    stdin_open: true
    tty: true
