.section {
    margin-top: 25px;
}

h4 {
    margin-top: 20px;
}

h5 {
    text-align: center;
}

.publication {
    margin-bottom: 10px;
    font-size: 9pt;
    background-color: #FAFAFA;
    padding: 5px;
}