@{
    var alphabet = "А Б В Г Д Е Є Ж З И І Ї Й К Л М Н О П Р С Т У Ф Х Ц Ч Ш Щ Ю Я".Split(' ');
    var selectedLetter = Convert.ToString(Context.Request.Query["q"] as Object).Replace("startwith:", "").ToUpper();
}

<h3>Алфавiтний покажчик</h3>
<div class="line"></div>
@foreach (var l in alphabet)
{
    if (l == selectedLetter)
    {
        <span class="selected-letter">@l</span>
    }
    else
    {
        <a href="/search?q=startwith:@l">@l</a>
    }
}
<div class="line"></div>