@model String

@{
    ViewBag.Title = "Інтелект";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jumbotron{
    <div class="part-header" style="background-image: url('/static/headers/sky.jpg')"></div>
}

@Html.Raw(Model)