.nav-item a {
  display: inline-block;
  font-size: 12pt;
  padding-left: 10px;
  color: #777;
  text-transform: uppercase;
  padding-top: 5px;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item a:hover {
  color: #0277bd;
  text-decoration: none;
}

html,
body {
  font-size: 11pt;
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
  color: #0277bd;
}

/*h1 {*/
/*  padding-top: 20px;*/
/*  font-size: 30pt;*/
/*}*/

/*h2 {*/
/*  font-size: 27pt;*/
/*}*/

/*h3 {*/
/*  font-size: 20pt;*/
/*}*/

.content {
  min-height: 700px;
}

a {
  color: #777 !important;
}

a:hover,
a:focus {
  color: #0277bd !important;
  text-decoration: underline;
}