.nav-item a {
  display: inline-block;
  font-size: 12pt;
  padding-left: 10px;
  color: #777;
  text-transform: uppercase;
  padding-top: 5px;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav-item a:hover {
  color: #0277bd;
  text-decoration: none;
}