@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
}

:root {
    @apply text-sm xs:text-base;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1135px;
    width: 95%;
    margin: 0 auto;
}

.header-wrapper {
    background: url('../assets/img/main-bg.png') no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .header-wrapper {
        background: url('../assets/img/main-sm.png') no-repeat;
        background-size: cover;
    }
}

[contenteditable='true']:empty:not(:focus):before {
    @apply text-neutral-500;
    content: attr(data-placeholder);
    cursor: text;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.avatar {
    border: 1px solid #EEE;
    border-radius: 5px;
}

footer a {
    text-decoration: underline;
}

.profile-links a {
    text-decoration: underline;
}