footer {
    min-height: 90px;
    overflow: hidden;
    color: #fff;
    /*font-size: 8pt;*/
    background: #292929;
    padding: 0 0 20px;
}

footer .row {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: none;
}

footer menu {
    text-align: left;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer a,
footer a:hover {
    color: #fff !important;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer menu {
    text-align: left;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer a,
footer a:hover {
    color: #fff;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 767px) {
    footer {
        text-align: center;
    }
}