@keyframes fadeInLeft {
    from {width: 0}
    to {width: 100%}
}

.active-tab {
    @apply text-primary;
    position: relative;
}

.active-tab:before {
    @apply bg-primary;
    content: '';
    height: 1px;
    position: absolute;
    bottom: -9px;
    width: 100%;
    animation: fadeInLeft;
    animation-timing-function: ease-in;
    animation-duration: .15s;
}
