@keyframes fadeInLeft {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.active-tab {
    color: #1f4d80;
    position: relative;
}

.active-tab:before {
    background-color: #1f4d80;
    content: '';
    height: 2px;
    position: absolute;
    bottom: -9px;
    width: 100%;
    animation: fadeInLeft;
    animation-timing-function: ease-in;
    animation-duration: 0.15s;
}
