a.btn-outline-success:hover {
    color: #FFF !important;
}

.positions .col-md-5,
.positions .col-md-7 {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.profile-information section {
    margin-bottom: 25px;
}

.profile-information .row {
    /*border-top: 1px dotted #EEE;*/
    padding-bottom: 5px;
    padding-top: 5px;
}

.label-with-tooltip {
    border-bottom: 1px dotted #777;
    cursor: help;
}