@model dynamic

@{
    ViewBag.Title = "Сторінку не знайдено";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    Сторінку, яку Ви запросили не знайдено, можливо вона була переміщена, або видалена. <br/>
    <br />
    Для пошуку інформації скористайтеся меню навігації, або пошуком по сайту. Ви також можете повідомити про дану помилку, вказавши, яким чином Ви потрапили на дану сторінку.<br />
    <br />
    Для переходу у інші скористайтеся меню навігації.<br />
    <br/>    
</p>
<div style="height: 300px;"></div>