.nav-item a {
  display: inline-block;
  font-size: 12pt;
  padding-left: 10px;
  color: #777;
  text-transform: uppercase;
  padding-top: 5px;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item a:hover {
  color: #0277bd;
  text-decoration: none;
}

html,
body {
  font-size: 11pt;
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
  color: #0277bd;
}

.content {
  min-height: 700px;
}

a {
  color: #777 !important;
}

a:hover,
a:focus {
  color: #0277bd !important;
  text-decoration: underline;
}

header {
  background-color: #0d0d5a;
  min-height: 35px;
  padding-top: 8px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  position: relative;
  z-index: 1000;
  color: #FFF;
}

header .container:first-child {
  padding-bottom: 5px;
  font-size: 8pt;
}

.navbar-nav {
  font-size: 14pt;
}