.nav-item a {
    display: inline-block;
    font-size: 12pt;
    padding-left: 10px;
    color: #777;
    text-transform: uppercase;
    padding-top: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.bg-light {
    background-color: #1c396e !important;
}

.nav-item a:hover {
    color: #0277bd;
    text-decoration: none;
}

html,
body {
    font-size: 11pt;
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 14pt;
    font-family: 'Ubuntu', sans-serif;
    color: #008acf;
}

h2 {
    color: #333 !important;
}

h3, h4, h5 {
    color: #777 !important;
}

.content {
    min-height: 700px;
    padding-top: 15px;
}

a {
    color: #0277bd;
}

.btn-outline-success {
    color: #0277bd;
}

a:hover,
a:focus {
    /*color: #0277bd !important;*/
    text-decoration: underline;
}

.navbar a {
    color: #777;
}

.navbar-nav .nav-link {
    color: #b3bdc8;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

header {
    background-color: #fff;
    min-height: 35px;
    padding-top: 8px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    position: relative;
    z-index: 1000;
    color: #1c396e;
}

header .container:first-child {
    padding-bottom: 5px;
    font-size: 8pt;
}

.navbar-nav {
    font-size: 14pt;
}

.btn-outline-success {
    border-color: #0277bd;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #0277bd;
    border-color: #0277bd;
}