.logo {
    margin-top: 0;
    height: 45px;
    width: 191px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/images/logo.png);
    color: #FFF;
    padding-left: 43px;
    font-size: 26pt;
}

input,
input.form-control,
button,
.panel {
    border-radius: 0 !important;
}

.search-panel img {
    width: 70px;
    height: 70px;
    opacity: 1;
}

.search {
    padding-bottom: 25px;
}

.search .btn-default {
    width: 100%;
}

.btn-group-lg > .btn,
.btn, .btn-lg,
.btn-outline-success {
    border-radius: 0 !important;
}

.line {
    background-image: url("/images/line.png");
    height: 10px;
    margin-top: 21px;
    margin-bottom: 25px;
}

.panel-heading {
    cursor: pointer;
}

.gist {
    font-size: 12pt;
}

.part-header {
    height: 150px;
    background-size: cover;
    background-position: center 670px;
    margin-top: -85px;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        font-size: 9pt;
    }
}


input,
input.form-control,
button,
.panel {
    border-radius: 0 !important;
}

.panel-default {
    border-color: transparent;
}

.search {
    padding-bottom: 25px;
}

.search .col-md-6 {
    padding-right: 0;
}

.search .col-md-2 {
    padding-left: 0;
}

.search .btn-default {
    width: 100%;
}

.line {
    background-image: url("/images/line.png");
    height: 10px;
    margin-top: 21px;
    margin-bottom: 25px;
}

.clear {
    clear: both;
}

.clear_fix {
    width: 100%;
    clear: both;
}

.panel-heading {
    cursor: pointer;
}

.thumbnail {
    border: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}

.navigation {
    background: #FFF;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
    border: none;
    margin-bottom: 0;
    position: relative;
    z-index: 1000;
    border-radius: 0;
}

.navigation #navbar a:hover {
    color: #0277bd;
    text-decoration: none;
}

@media (max-width: 767px) {
    footer {
        text-align: center;
    }
}

.gist {
    font-size: 12pt;
}

.part-header {
    height: 150px;
    background-size: cover;
    background-position: center 670px;
    margin-top: -85px;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        font-size: 9pt;
    }
}

.loading {
    height: 20px !important;
    display: block;
    margin: auto;
    width: 200px;
}
