/*
 * Home css File
*/

.Home {
    /* propertys here */
}

.carousel {
    margin-top: 20px;
}

.welcome {
    font-size: 27pt;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
    color: #777;
}

.welcome h1{
    font-size: 42pt;
}

.welcome .grey {
    color: #333333;
    border-left: 2px solid #333;
    padding-left: 7px;
}

