.carousel {
    margin-top: 20px;
}

.welcome {
    font-size: 27pt;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
    color: #000;
}

.welcome h1 {
    font-size: 42pt;
}

.welcome .grey {
    color: #958f93;
    border-left: 2px solid #333;
    padding-left: 7px;
}

