@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --breakpoint-xs: 450px;
  --breakpoint-sm: 920px;

  --radius-8: 8px;
  --radius-24: 24px;

  --color-primary: #1f4d80;
  --color-inactive: rgba(255, 255, 255, 0.4);
  --color-gray: #bbb;

  --grid-cols-teachers: repeat(auto-fill, minmax(140px, 1fr));

  --spacing-72: 72px;
  --spacing-140: 140px;
  --spacing-18: 4.5rem;
  --spacing-160: 160px;
  --spacing-110: 110px;
  --spacing-90: 90px;
  --spacing-170: 170px;
  --spacing-200: 200px;
  --spacing-120: 120px;
  --spacing-100: 100px;
  --spacing-40: 40px;
  --spacing-225: 225px;
  --spacing-220: 220px;
  --spacing-42: 42px;
  --spacing-550: 550px;
  --spacing-350: 350px;
  --spacing-480: 480px;
  --spacing-500: 300px;
  --spacing-600: 600px;
  --spacing-700: 700px;
  --spacing-1200: 1200px;
  --spacing-9: 2.25rem;
  --spacing-95vh: 95vh;
  --spacing-50: 50px;
  --spacing-17: 3.25rem;
  --spacing-1px: 1px;
  --spacing-2px: 2px;
  --spacing-5px: 5px;
  --spacing-7px: 7px;
  --spacing-10px: 10px;
  --spacing-80pct: 80%;
  --spacing-2\/5: 40%;

  --border-width-1: 1px;

  --animate-fadeInLeft: fadeInLeft 0.15s ease-in;
  @keyframes fadeInLeft {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --radius: 8px;
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 16 98 163;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 248 59 81;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;

    --uncategorized-main: 249 249 255;
    --basic-black: 0 0 0;
    --basic-blue: 16 98 163;
    --basic-white: 255 255 255;
    --basic-grey: 187 187 187;

    --brand-900: 0 69 113;
    --brand-800: 0 84 139;
    --brand-700: 0 97 160;
    --brand-600: 0 109 179;
    --brand-500: 114 150 197;
    --brand-400: 161 182 213;
    --brand-300: 198 209 228;
    --brand-200: 228 233 242;
    --brand-100: 242 244 248;
    --brand-00: 245 251 255;

    --neutral-divider: 229 231 239;
    --neutral-900: 64 65 77;
    --neutral-800: 84 85 100;
    --neutral-700: 106 107 122;
    --neutral-600: 128 129 145;
    --neutral-500: 151 152 168;
    --neutral-400: 175 176 190;
    --neutral-300: 199 200 213;
    --neutral-200: 225 225 236;
    --neutral-100: 238 238 247;
    --neutral-50: 248 248 255;

    --status-danger-300: 248 59 81;
    --status-danger-200: 255 148 160;
    --status-danger-100: 255 235 238;
    --status-warning-300: 190 81 0;
    --status-warning-200: 251 219 100;
    --status-warning-100: 253 246 202;
    --status-success-300: 0 134 54;
    --status-success-200: 162 255 199;
    --status-success-100: 238 255 245;

    --other-purple: 95 104 198;
    --other-purple-10: 95 104 198 0.01;
    --other-red: 226 0 41;
    --other-red-10: 226 0 41 0.1;
    --other-orange: 190 81 0;
    --other-orange-10: 190 81 0 0.1;
    --other-blue: 0 101 253;
    --other-blue-10: 0 101 253 0.1;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: rgb(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-ring: hsl(var(--ring));
  --color-uncategorized-main: rgb(var(--uncategorized-main));
  --color-basic-black: rgb(var(--basic-black));
  --color-basic-blue: rgb(var(--basic-blue));
  --color-basic-white: rgb(var(--basic-white));
  --color-basic-grey: rgb(var(--basic-grey));
  --color-brand-900: rgb(var(--brand-900));
  --color-brand-800: rgb(var(--brand-800));
  --color-brand-700: rgb(var(--brand-700));
  --color-brand-600: rgb(var(--brand-600));
  --color-brand-500: rgb(var(--brand-500));
  --color-brand-400: rgb(var(--brand-400));
  --color-brand-300: rgb(var(--brand-300));
  --color-brand-200: rgb(var(--brand-200));
  --color-brand-100: rgb(var(--brand-100));
  --color-brand-0: rgb(var(--brand-00));
  --color-neutral-divider: rgb(var(--neutral-divider));
  --color-neutral-50: rgb(var(--neutral-50));
  --color-neutral-100: rgb(var(--neutral-100));
  --color-neutral-200: rgb(var(--neutral-200));
  --color-neutral-300: rgb(var(--neutral-300));
  --color-neutral-400: rgb(var(--neutral-400));
  --color-neutral-500: rgb(var(--neutral-500));
  --color-neutral-600: rgb(var(--neutral-600));
  --color-neutral-700: rgb(var(--neutral-700));
  --color-neutral-800: rgb(var(--neutral-800));
  --color-neutral-900: rgb(var(--neutral-900));
  --color-status-danger-300: rgb(var(--status-danger-300));
  --color-status-danger-200: rgb(var(--status-danger-200));
  --color-status-danger-100: rgb(var(--status-danger-100));
  --color-status-warning-300: rgb(var(--status-warning-300));
  --color-status-warning-200: rgb(var(--status-warning-200));
  --color-status-warning-100: rgb(var(--status-warning-100));
  --color-status-success-300: rgb(var(--status-success-300));
  --color-status-success-200: rgb(var(--status-success-200));
  --color-status-success-100: rgb(var(--status-success-100));
  --color-other-purple: rgb(var(--other-purple));
  --color-other-purple-10: rgba(var(--other-purple-10));
  --color-other-red: rgb(var(--other-red));
  --color-other-red-10: rgba(var(--other-red-10));
  --color-other-orange: rgb(var(--other-orange));
  --color-other-orange-10: rgba(var(--other-orange-10));
  --color-other-blue: rgb(var(--other-blue));
  --color-other-blue-10: rgba(var(--other-blue-10));
  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: rgb(var(--basic-blue));
  --color-sidebar-accent-foreground: rgb(var(--basic-white));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));
}

@custom-variant tall (@media (min-height: 933px));

@layer utilities {
  html,
  body {
    overflow-x: hidden;
  }

  html body[data-scroll-locked] {
    --removed-body-scroll-bar-size: 0 !important;
    margin-right: 0 !important;
  }

  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-weight: 500;
  }
}

* {
    font-family: 'Inter', sans-serif;
}

:root {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@media (min-width: 450px) {
    :root {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

html {
    scroll-behavior: smooth;
}

.main-layout-wrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.grey {
    color: #999;
}

.whitespace-pre-wrap {
    word-wrap: anywhere;
}

.wrapper {
    max-width: 1135px;
    width: 95%;
    margin: 0 auto;
}

.header-wrapper {
    background: url('https://do4rt9wur3t6m.cloudfront.net/intellect.kpi.ua/img/main-bg.png') no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .header-wrapper {
        background: url('https://do4rt9wur3t6m.cloudfront.net/intellect.kpi.ua/img/main-sm.png') no-repeat;
        background-size: cover;
    }
}

[contenteditable='true']:empty:not(:focus):before {
    color: #9798a8;
    content: attr(data-placeholder);
    cursor: text;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

footer a {
    text-decoration: underline;
}

.profile-links a {
    text-decoration: underline;
}
