@import 'tailwindcss';
@import 'tw-animate-css';
@config '../../tailwind.config.js';

* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

:root {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@media (min-width: 450px) {
    :root {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

html {
    scroll-behavior: smooth;
}

.main-layout-wrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.grey {
    color: #999;
}

.whitespace-pre-wrap {
    word-wrap: anywhere;
}

.wrapper {
    max-width: 1135px;
    width: 95%;
    margin: 0 auto;
}

.header-wrapper {
    background: url('https://do4rt9wur3t6m.cloudfront.net/intellect.kpi.ua/img/main-bg.png') no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .header-wrapper {
        background: url('https://do4rt9wur3t6m.cloudfront.net/intellect.kpi.ua/img/main-sm.png') no-repeat;
        background-size: cover;
    }
}

[contenteditable='true']:empty:not(:focus):before {
    color: #9798a8;
    content: attr(data-placeholder);
    cursor: text;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

footer a {
    text-decoration: underline;
}

.profile-links a {
    text-decoration: underline;
}
