@using Campus.Common
@model PublicProfile

@{
    ViewBag.Title = "Результати виконання НДДКР - " + Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="/js/profile_subpages.js"></script>
}

@section jumbotron{
    <div class="part-header" style="background-image: url('@ViewBag.Header')">
    </div>
}

@Html.Partial("CommonProfile", Model)

<div class="profile subpage_content panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Наукова діяльність</h3>
	</div>

	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li id="execution_subsection">
                <a href="execution">Виконання НДДКР</a>
            </li>
            <li id="results_subsection" class="active">
                <a href="results">Результати виконання НДДКР</a>
            </li>
            <li id="publications_subsection">
                <a href="publications">Публікації</a>
            </li>
            <li id="conference_subsection">
                <a href="conference">Конференції, виставки</a>
            </li>
		</ul>

		<div class="tab-pane" id="subpage_content"></div>
	</div>
 </div>