.credo {
    color: #343a40;
    font-size: 9pt;
    text-align: left;
    background: #eee;
    padding: 5px;
}

.img-thumbnail {
    width: 100%;
}

.contacts {

}

.contacts .row {
    border-top: 1px solid #CCC;
    margin-top: 10px;
    padding-top: 5px;
}