<!--<div class="row">-->
<!--<div class="col-md-12">-->
<div class="row">
  <div class="col-md-12">
    <ul style="height: 500px;" rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide
        rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
      <li ng-repeat="slide in slides track by slide.id" ng-class="'id-' + slide.id">
        <div style="height: 500px;" ng-style="{'background-image': 'url(' + slide.img + ')'}" class="bgimage">
        </div>
      </li>
    </ul>
    <div rn-carousel-indicators ng-if="slides2.length > 1" slides="slides2" rn-carousel-index="carouselIndex2"></div>
  </div>
</div>
<!--</div>-->
<!--</div>-->


<section class="row">
  <div class="col-md-12 content">

    <div class="row search-panel">
      <div class="col-md-3 height-x">
        <a ng-click="tab = 'search-default'">
          <img class="img-circle" src="/images/search-default.png" alt="Пошук спiвробiтникiв">
          <span>Загальний пошук спiвробiтникiв</span>
        </a>
      </div>
      <div class="col-md-3 height-x">
        <a ng-click="tab = 'search-subdivision'">
          <img class="img-circle" src="/images/search-subdivision.png" alt="Пошук за кафедрами та факультетами">
          <span>Пошук за кафедрами<br/> та факультетами</span>
        </a>
      </div>
      <div class="col-md-3 height-x">
        <a ng-click="tab = 'search-alphabet'">
          <img class="img-circle" src="/images/search-alphabet.png" alt="Алфавітний покажчик">
          <span>Алфавітний покажчик</span>
        </a>
      </div>
      <div class="col-md-3 height-x">
        <a ng-click="tab = 'search-interests'">
          <img class="img-circle" src="/images/search-interests.png" alt="Пошук за інтеpeсами">
          <span>Пошук за інтеpeсами</span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1 title="Показати/приховати новини" ng-click="tab = ''">Наукові новини</h1>

        <div id="science_news_content" ng-bind-html="content"  ng-show="!tab">
        </div>

        <div class="clear"></div>
      </div>
    </div>



    <a name="search-form-position"></a>
    <form class="row search" ng-show="tab == 'search-default'" action="/search" role="search">
      <div class="col-md-12">
        <h2>Загальний пошук спiвробiтникiв</h2>
        <div class="line"></div>
        <input type="search" name="q" class="form-control typeahead"
               placeholder="Введiть ПІБ особи... (наприклад: ПЕТРОВ ПЕТРО ПЕТРОВИЧ)">
        <div class="line"></div>
        <input type="submit" class="search_btn_hidden"/>
      </div>
    </form>

    <div class="row search" ng-show="tab == 'search-alphabet'">
      <div class="col-md-12">
        <alphabet></alphabet>
      </div>
    </div>

    <form class="row search" ng-show="tab == 'search-subdivision'" action="/search" role="search" onsubmit="setPrefix('subdivision-serch-input', 'subdivision')">
      <div class="col-md-12">
        <h2>Пошук за кафедрами та факультетами</h2>
        <div class="line"></div>
        <input type="search" name="q" class="form-control typeahead"
               placeholder="Введiть назву пiдроздiлу... (наприклад: Кафедра технiчної кiбернетики ФІОТ)"
               id="subdivision-serch-input">
        <div class="line"></div>
        <input type="submit" class="search_btn_hidden"/>
      </div>
    </form>

    <form class="row search" ng-show="tab == 'search-interests'" action="/search" role="search" onsubmit="setPrefix('interests-serch-input', 'interests')">
      <div class="col-md-12">
        <h2>Пошук за інтеpeсами</h2>
        <div class="line"></div>
        <input type="search" name="q" class="form-control typeahead" placeholder="Введiть інтереси для пошуку..."
               id="interests-serch-input">
        <div class="line"></div>
        <input type="submit" class="search_btn_hidden"/>
      </div>
    </form>

  </div>
</section>
