@using Campus.Common
@model PublicProfile

@{
ViewBag.Title = Model.FullName;
Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
<script src="/Scripts/tab.js"></script>
<script src="/Scripts/profile.js"></script>
}

@section jumbotron{

<div class="part-header" style="background-image: url('@ViewBag.Header')">
</div>

}

<div class="row profile">
  <div class="col-md-3">
    <a href="#" class="thumbnail profile-image">
      <img src="@Model.Photo" alt="@Model.FullName">
    </a>
    @if (!String.IsNullOrEmpty(Model.Credo))
    {
    <h5 class="credo">@Model.Credo</h5>
    }
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <h2 class="lecturer_name">@Model.FullName</h2>
      <div class="panel-heading">
        <h3 class="panel-title">Загальна інформація</h3>
      </div>
      <div class="panel-body">
        <table class="table table-responsive table-hover table-striped common_info not_strong">
          @Html.Partial("RecordPartialView", new Record("Науковий ступень", Model.AcademicDegree))
          @Html.Partial("RecordPartialView", new Record("Наукові інтереси", Model.GetField("ScientificInterest")))
          @Html.Partial("RecordPartialView", new Record("Вчене звання", Model.AcademicStatus))
        </table>

        <table class="table table-responsive table-hover table-striped workplace not_strong">
          @{
          string firstColumnContent = "Дані за місцем роботи (підрозділ(-и), посада(-и))";
          foreach (var position in Model.Positions)
          {
          <tr>
            <td class="workplace_data">@firstColumnContent</td>
            <td>
              <a href="@position.Subdivision.Url">@position.Subdivision.Name</a>
            </td>
            <td>
              @position.Name
            </td>
          </tr>
          firstColumnContent = "";
          }
          }
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Контактна інформація</h3>
      </div>
      <div class="panel-body">
        <table class="table table-responsive table-hover table-striped contact_info not_strong">
          @Html.Partial("RecordPartialView", new Record("Особиста сторiнка", ViewBag.Link))

          @Html.Partial("RecordPartialView", new Record("Електронна пошта", Model.GetField("Email")))
          @foreach (Record item in @Model.ContactRecords)
          {
          @Html.Partial("RecordPartialView", new Record(item.Name, item.Value))
          }
        </table>
      </div>
    </div>

    @*<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Педагогічна діяльність</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><a href="#">Розклад навчальних занять</a></li>
        <li><a href="#">Дисципліни / Кредитні модулі </a></li>
        <li><a href="#">Методичне забезпечення дисципліни/КМ </a></li>
      </ul>
    </div>
  </div>*@


    <div class="panel panel-default" id="science">
      <div class="panel-heading">
        <h3 class="panel-title">Наукова діяльність ...</h3>
      </div>
      <div class="panel-body">
        <ul class="profile_subsections">
          <li id="execution_subsection"><a href="/profile/@ViewBag.ProfileName/execution">Виконання НДДКР</a></li>
          <li id="results_subsection"><a href="/profile/@ViewBag.ProfileName/results">Результати виконання НДДКР</a></li>
          <li id="publications_subsection"><a href="/profile/@ViewBag.ProfileName/publications">Публікації</a></li>
          <li id="conference_subsection"><a href="/profile/@ViewBag.ProfileName/conference">Конференції, виставки</a></li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default" id="awards">
      <div class="panel-heading">
        <h3 class="panel-title">Нагороди/Державні премії ...</h3>
      </div>
      <div class="panel-body">
        <div id="awards-text">

        </div>

        <script>
          $(function () {
            $("#awards > .panel-body").hide();
            $("#awards > .panel-heading").click(function () {
              $("#awards > .panel-body").toggle();
            });
          });
        </script>

      </div>
    </div>

    <!--<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Напрями досліджень</h3>
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-hover table-striped"></table>
        </div>
    </div>-->

  </div>
</div>
